a {
    color: #a09fff;
}

h1, h3 {
    color: #eeeeee;
}

c1 {
    color: #6A3C2B;
}

c2 {
    color: #2CB1BE;
}

c3 {
    color: #E1E8ED;
}

body {
    background-color: #3C85FF;
    font-family: '-apple-system','Helvetica Neue','system-ui';
}

ul {
    color: #eeeeee;
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}
